In [2]:
%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
frame1 = pd.DataFrame({
    'key1': ['a','a','b','b','a'],
    'key2': ['one','two','one','two','one'],
    'data1': np.random.randn(5),
    'data2': np.random.randn(5)    
})

In [4]:
frame1

  key1 key2     data1     data2
0    a  one -0.468967  1.805104
1    a  two  0.659412  0.064954
2    b  one -1.077594 -0.583080
3    b  two -0.416233 -2.061643
4    a  one  0.552830 -1.680217

In [6]:
group1 = frame1['data1'].groupby(frame1['key1'])

In [7]:
group1

In [8]:
group1.mean()

key1
a    0.247758
b   -0.746914
Name: data1, dtype: float64

In [9]:
group2 = frame1['data1'].groupby([frame1['key1'],frame1['key2']])

In [10]:
group2

In [12]:
mean2 = group2.mean()

In [14]:
mean2.index

MultiIndex([('a', 'one'),
            ('a', 'two'),
            ('b', 'one'),
            ('b', 'two')],
           names=['key1', 'key2'])

In [15]:
mean2.unstack()

key2       one       two
key1
a     0.041931  0.659412
b    -1.077594 -0.416233

In [16]:
frame1.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [17]:
for name, group in frame1.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -0.468967  1.805104
1    a  two  0.659412  0.064954
4    a  one  0.552830 -1.680217
b
  key1 key2     data1     data2
2    b  one -1.077594 -0.583080
3    b  two -0.416233 -2.061643

In [18]:
for (k1,k2), group in frame1.groupby(['key1','key2']):
    print((k1,k2))
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one -0.468967  1.805104
4    a  one  0.552830 -1.680217
('a', 'two')
  key1 key2     data1     data2
1    a  two  0.659412  0.064954
('b', 'one')
  key1 key2     data1    data2
2    b  one -1.077594 -0.58308
('b', 'two')
  key1 key2     data1     data2
3    b  two -0.416233 -2.061643

In [19]:
pieces = dict(list(frame1.groupby('key1')))

In [20]:
pieces

{'a':   key1 key2     data1     data2
 0    a  one -0.468967  1.805104
 1    a  two  0.659412  0.064954
 4    a  one  0.552830 -1.680217,
 'b':   key1 key2     data1     data2
 2    b  one -1.077594 -0.583080
 3    b  two -0.416233 -2.061643}

In [21]:
len(pieces)

2

In [22]:
pieces["a"]

  key1 key2     data1     data2
0    a  one -0.468967  1.805104
1    a  two  0.659412  0.064954
4    a  one  0.552830 -1.680217

In [23]:
pieces["b"]

  key1 key2     data1     data2
2    b  one -1.077594 -0.583080
3    b  two -0.416233 -2.061643

In [24]:
countries = pd.read_json("countries.json")
countries2 = countries.dropna()
countries3 = countries2.drop(columns=["cities","localName","capital"])
countries3.rename(columns={"_id": "code"}, inplace=True)

In [25]:
countries_by_continent = countries3.groupby('continent')

In [27]:
for continent, ctrys in countries_by_continent:
    print(continent)
    print(ctrys['name'])

Africa
2                                     Angola
17                                   Burundi
19                                     Benin
20                              Burkina Faso
35                                  Botswana
36                  Central African Republic
42                             Côte d’Ivoire
43                                  Cameroon
44     Congo, The Democratic Republic of the
45                                     Congo
48                                   Comoros
49                                Cape Verde
57                                  Djibouti
61                                   Algeria
63                                     Egypt
64                                   Eritrea
68                                  Ethiopia
75                                     Gabon
78                                     Ghana
80                                    Guinea
82                                    Gambia
83                             Guinea-Bissau
84                         Equatorial Guinea
111                                    Kenya
120                                  Liberia
121                   Libyan Arab Jamahiriya
125                                  Lesotho
130                                  Morocco
133                               Madagascar
138                                     Mali
143                               Mozambique
144                               Mauritania
147                                Mauritius
148                                   Malawi
151                                  Namibia
153                                    Niger
155                                  Nigeria
182                                   Rwanda
184                                    Sudan
185                                  Senegal
191                             Sierra Leone
194                                  Somalia
196                    Sao Tome and Principe
201                                Swaziland
202                               Seychelles
205                                     Chad
206                                     Togo
214                                  Tunisia
218                                 Tanzania
219                                   Uganda
236                             South Africa
237                                   Zambia
238                                 Zimbabwe
Name: name, dtype: object
Asia
1               Afghanistan
7      United Arab Emirates
9                   Armenia
16               Azerbaijan
21               Bangladesh
23                  Bahrain
32                   Brunei
33                   Bhutan
41                    China
54                   Cyprus
77                  Georgia
98                Indonesia
99                    India
102                    Iran
103                    Iraq
105                  Israel
108                  Jordan
109                   Japan
110               Kazakstan
112              Kyrgyzstan
113                Cambodia
116             South Korea
117                  Kuwait
118                    Laos
119                 Lebanon
124               Sri Lanka
134                Maldives
140                 Myanmar
141                Mongolia
149                Malaysia
160                   Nepal
163                    Oman
164                Pakistan
168             Philippines
173             North Korea
178                   Qatar
183            Saudi Arabia
186               Singapore
203                   Syria
207                Thailand
208              Tajikistan
210            Turkmenistan
215                  Turkey
217                  Taiwan
224              Uzbekistan
230                 Vietnam
234                   Yemen
Name: name, dtype: object
Europe
4                     Albania
5                     Andorra
15                    Austria
18                    Belgium
22                   Bulgaria
25     Bosnia and Herzegovina
26                    Belarus
39                Switzerland
55             Czech Republic
56                    Germany
59                    Denmark
66                      Spain
67                    Estonia
69                    Finland
72                     France
76             United Kingdom
85                     Greece
95                    Croatia
97                    Hungary
101                   Ireland
104                   Iceland
106                     Italy
123             Liechtenstein
126                 Lithuania
127                Luxembourg
128                    Latvia
131                    Monaco
132                   Moldova
137                 Macedonia
139                     Malta
158               Netherlands
159                    Norway
171                    Poland
174                  Portugal
180                   Romania
181        Russian Federation
198                  Slovakia
199                  Slovenia
200                    Sweden
220                   Ukraine
235                Yugoslavia
Name: name, dtype: object
North America
13                  Antigua and Barbuda
24                              Bahamas
27                               Belize
31                             Barbados
37                               Canada
50                           Costa Rica
51                                 Cuba
58                             Dominica
60                   Dominican Republic
86                              Grenada
88                            Guatemala
94                             Honduras
96                                Haiti
107                             Jamaica
115               Saint Kitts and Nevis
122                         Saint Lucia
135                              Mexico
156                           Nicaragua
165                              Panama
192                         El Salvador
213                 Trinidad and Tobago
223                       United States
226    Saint Vincent and the Grenadines
Name: name, dtype: object
Oceania
14                           Australia
70                        Fiji Islands
74     Micronesia, Federated States of
114                           Kiribati
136                   Marshall Islands
161                              Nauru
162                        New Zealand
169                              Palau
170                   Papua New Guinea
190                    Solomon Islands
212                              Tonga
216                             Tuvalu
231                            Vanuatu
233                              Samoa
Name: name, dtype: object
South America
8      Argentina
29       Bolivia
30        Brazil
40         Chile
47      Colombia
62       Ecuador
91        Guyana
167         Peru
175     Paraguay
197     Suriname
222      Uruguay
227    Venezuela
Name: name, dtype: object

In [29]:
le_by_government_and_continent = countries3["lifeExpectancy"].groupby([countries3["governmentForm"],countries3["continent"]])

In [30]:
for (gform, continent), lifeExp in le_by_government_and_continent:
    print((gform, continent))
    print(f"{lifeExp}")

('Constitutional Monarchy', 'Africa')
125    50.8
130    69.1
Name: lifeExpectancy, dtype: float64
('Constitutional Monarchy', 'Asia')
108    77.4
109    80.7
113    56.5
160    57.8
207    68.6
Name: lifeExpectancy, dtype: float64
('Constitutional Monarchy', 'Europe')
59     76.5
66     78.8
76     77.7
123    78.8
127    77.1
131    78.8
158    78.3
159    78.7
200    79.6
Name: lifeExpectancy, dtype: float64
('Constitutional Monarchy', 'North America')
13     70.5
24     71.1
27     70.9
31     73.0
86     64.5
107    75.2
115    70.7
122    72.3
226    72.3
Name: lifeExpectancy, dtype: float64
('Constitutional Monarchy', 'Oceania')
162    77.8
170    63.1
190    71.3
216    66.3
Name: lifeExpectancy, dtype: float64
('Constitutional Monarchy (Emirate)', 'Asia')
117    76.1
Name: lifeExpectancy, dtype: float64
('Constitutional Monarchy, Federation', 'Asia')
149    70.8
Name: lifeExpectancy, dtype: float64
('Constitutional Monarchy, Federation', 'Europe')
18    77.8
Name: lifeExpectancy, dtype: float64
('Constitutional Monarchy, Federation', 'North America')
37    79.4
Name: lifeExpectancy, dtype: float64
('Constitutional Monarchy, Federation', 'Oceania')
14    79.8
Name: lifeExpectancy, dtype: float64
('Emirate Federation', 'Asia')
7    74.1
Name: lifeExpectancy, dtype: float64
('Federal Republic', 'Africa')
133    55.0
155    51.6
Name: lifeExpectancy, dtype: float64
('Federal Republic', 'Asia')
16    62.9
99    62.5
Name: lifeExpectancy, dtype: float64
('Federal Republic', 'Europe')
15     77.7
25     71.5
56     77.4
181    67.2
235    72.4
Name: lifeExpectancy, dtype: float64
('Federal Republic', 'North America')
135    71.5
223    77.1
Name: lifeExpectancy, dtype: float64
('Federal Republic', 'Oceania')
74    68.6
Name: lifeExpectancy, dtype: float64
('Federal Republic', 'South America')
8      75.1
30     62.9
227    73.1
Name: lifeExpectancy, dtype: float64
('Federation', 'Europe')
39    79.6
Name: lifeExpectancy, dtype: float64
('Islamic Emirate', 'Asia')
1    45.9
Name: lifeExpectancy, dtype: float64
('Islamic Republic', 'Africa')
184    56.6
Name: lifeExpectancy, dtype: float64
('Islamic Republic', 'Asia')
102    69.7
Name: lifeExpectancy, dtype: float64
('Monarchy', 'Africa')
201    40.4
Name: lifeExpectancy, dtype: float64
('Monarchy', 'Asia')
33     52.4
178    72.4
183    67.8
Name: lifeExpectancy, dtype: float64
('Monarchy', 'Oceania')
212    67.9
Name: lifeExpectancy, dtype: float64
('Monarchy (Emirate)', 'Asia')
23    73.0
Name: lifeExpectancy, dtype: float64
('Monarchy (Sultanate)', 'Asia')
32     73.6
163    71.8
Name: lifeExpectancy, dtype: float64
('Parlementary Monarchy', 'Oceania')
233    69.2
Name: lifeExpectancy, dtype: float64
('Parliamentary Coprincipality', 'Europe')
5    83.5
Name: lifeExpectancy, dtype: float64
("People'sRepublic", 'Asia')
41    71.4
Name: lifeExpectancy, dtype: float64
('Republic', 'Africa')
2      38.3
17     46.2
19     50.2
20     46.7
35     39.3
36     44.0
42     45.2
43     54.8
44     48.8
45     47.4
48     60.0
49     68.9
57     50.8
61     69.7
63     63.3
64     55.8
68     45.2
75     50.1
78     57.4
80     45.6
82     53.2
83     49.0
84     53.6
111    48.0
120    51.0
138    46.7
143    37.5
144    50.8
147    71.0
148    37.6
151    42.5
153    41.3
182    39.3
185    62.2
191    45.3
194    46.2
196    65.3
202    70.4
205    50.5
206    54.7
214    73.7
218    52.3
219    42.9
236    51.1
237    37.2
238    37.8
Name: lifeExpectancy, dtype: float64
('Republic', 'Asia')
9      66.4
21     60.2
54     76.7
77     64.5
98     68.0
103    66.5
105    78.6
110    63.2
112    63.4
116    74.4
118    53.1
119    71.3
124    71.8
134    62.2
140    54.9
141    67.3
164    61.1
168    67.5
186    80.1
203    68.5
208    64.1
210    60.9
215    85.0
217    76.4
224    63.7
234    59.8
Name: lifeExpectancy, dtype: float64
('Republic', 'Europe')
4      71.6
22     70.9
26     68.0
55     74.5
67     69.5
69     77.4
72     78.8
85     78.4
95     73.7
97     71.4
101    76.8
104    79.4
106    79.0
126    69.1
128    68.4
132    64.5
137    73.8
139    77.9
171    73.2
174    75.8
180    69.9
198    73.7
199    74.9
220    66.0
Name: lifeExpectancy, dtype: float64
('Republic', 'North America')
50     75.8
58     73.4
60     73.2
88     66.2
94     69.9
96     49.2
156    68.7
165    75.5
192    69.7
213    68.0
Name: lifeExpectancy, dtype: float64
('Republic', 'Oceania')
70     67.9
114    59.8
136    65.5
161    60.8
169    68.6
231    60.6
Name: lifeExpectancy, dtype: float64
('Republic', 'South America')
29     63.7
40     75.7
47     70.3
62     71.1
91     64.0
167    70.0
175    73.7
197    71.4
222    75.2
Name: lifeExpectancy, dtype: float64
('Socialistic Republic', 'Asia')
173    70.7
230    69.3
Name: lifeExpectancy, dtype: float64
('Socialistic Republic', 'North America')
51    76.2
Name: lifeExpectancy, dtype: float64
('Socialistic State', 'Africa')
121    75.5
Name: lifeExpectancy, dtype: float64

In [33]:
le_by_government_and_continent.mean().unstack()

continent,Africa,Asia,Europe,North America,Oceania,South America
governmentForm,,,,,,
Constitutional Monarchy,59.950000,68.200000,78.255556,71.166667,69.625000,NaN
Constitutional Monarchy (Emirate),NaN,76.100000,NaN,NaN,NaN,NaN
"Constitutional Monarchy, Federation",NaN,70.800000,77.800000,79.400000,79.800000,NaN
Emirate Federation,NaN,74.100000,NaN,NaN,NaN,NaN
Federal Republic,53.300000,62.700000,73.240000,74.300000,68.600000,70.366667
Federation,NaN,NaN,79.600000,NaN,NaN,NaN
Islamic Emirate,NaN,45.900000,NaN,NaN,NaN,NaN
Islamic Republic,56.600000,69.700000,NaN,NaN,NaN,NaN
Monarchy,40.400000,64.200000,NaN,NaN,67.900000,NaN
Monarchy (Emirate),NaN,73.000000,NaN,NaN,NaN,NaN
Monarchy (Sultanate),NaN,72.700000,NaN,NaN,NaN,NaN
Parlementary Monarchy,NaN,NaN,NaN,NaN,69.200000,NaN
Parliamentary Coprincipality,NaN,NaN,83.500000,NaN,NaN,NaN
People'sRepublic,NaN,71.400000,NaN,NaN,NaN,NaN
Republic,50.843478,67.292308,73.191667,68.960000,63.866667,70.566667
Socialistic Republic,NaN,70.000000,NaN,76.200000,NaN,NaN
Socialistic State,75.500000,NaN,NaN,NaN,NaN,NaN

In [34]:
countries_by_government_and_continent = countries3.groupby([countries3["governmentForm"],countries3["continent"]])

In [35]:
countries_by_government_and_continent.mean().unstack()

                                              gnp                 \
continent                                  Africa           Asia
governmentForm
Constitutional Monarchy              18592.500000  784174.600000
Constitutional Monarchy (Emirate)             NaN   27037.000000
Constitutional Monarchy, Federation           NaN   69213.000000
Emirate Federation                            NaN   37966.000000
Federal Republic                     34728.500000  225620.500000
Federation                                    NaN            NaN
Islamic Emirate                               NaN    5976.000000
Islamic Republic                     10162.000000  195746.000000
Monarchy                              1206.000000   49159.666667
Monarchy (Emirate)                            NaN    6366.000000
Monarchy (Sultanate)                          NaN   14304.500000
Parlementary Monarchy                         NaN            NaN
Parliamentary Coprincipality                  NaN            NaN
People'sRepublic                              NaN  982268.000000
Republic                              8895.913043   53394.846154
Socialistic Republic                          NaN   13630.500000
Socialistic State                    44806.000000            NaN

                                                                  \
continent                                   Europe North America
governmentForm
Constitutional Monarchy              318625.222222        1704.0
Constitutional Monarchy (Emirate)              NaN           NaN
Constitutional Monarchy, Federation  249704.000000      598862.0
Emirate Federation                             NaN           NaN
Federal Republic                     528335.200000     4462836.0
Federation                           264478.000000           NaN
Islamic Emirate                                NaN           NaN
Islamic Republic                               NaN           NaN
Monarchy                                       NaN           NaN
Monarchy (Emirate)                             NaN           NaN
Monarchy (Sultanate)                           NaN           NaN
Parlementary Monarchy                          NaN           NaN
Parliamentary Coprincipality           1630.000000           NaN
People'sRepublic                               NaN           NaN
Republic                             144707.208333        8334.2
Socialistic Republic                           NaN       17843.0
Socialistic State                              NaN           NaN

                                                                   \
continent                                  Oceania  South America
governmentForm
Constitutional Monarchy               14961.250000            NaN
Constitutional Monarchy (Emirate)              NaN            NaN
Constitutional Monarchy, Federation  351182.000000            NaN
Emirate Federation                             NaN            NaN
Federal Republic                        212.000000  404000.000000
Federation                                     NaN            NaN
Islamic Emirate                                NaN            NaN
Islamic Republic                               NaN            NaN
Monarchy                                146.000000            NaN
Monarchy (Emirate)                             NaN            NaN
Monarchy (Sultanate)                           NaN            NaN
Parlementary Monarchy                   141.000000            NaN
Parliamentary Coprincipality                   NaN            NaN
People'sRepublic                               NaN            NaN
Republic                                372.783333   33243.666667
Socialistic Republic                           NaN            NaN
Socialistic State                              NaN            NaN

                                    lifeExpectancy                        \
continent                                   Africa       Asia     Europe
governmentForm
Constitutional Monarchy                  59.950000  68.200000  78.255556
Constitutional Monarchy (Emirate)              NaN  76.100000        NaN
Constitutional Monarchy, Federation            NaN  70.800000  77.800000
Emirate Federation                             NaN  74.100000        NaN
Federal Republic                         53.300000  62.700000  73.240000
Federation                                     NaN        NaN  79.600000
Islamic Emirate                                NaN  45.900000        NaN
Islamic Republic                         56.600000  69.700000        NaN
Monarchy                                 40.400000  64.200000        NaN
Monarchy (Emirate)                             NaN  73.000000        NaN
Monarchy (Sultanate)                           NaN  72.700000        NaN
Parlementary Monarchy                          NaN        NaN        NaN
Parliamentary Coprincipality                   NaN        NaN  83.500000
People'sRepublic                               NaN  71.400000        NaN
Republic                                 50.843478  67.292308  73.191667
Socialistic Republic                           NaN  70.000000        NaN
Socialistic State                        75.500000        NaN        NaN

                                                   ...   surfaceArea  \
continent                           North America  ...        Europe
governmentForm                                     ...
Constitutional Monarchy                 71.166667  ...  1.789121e+05
Constitutional Monarchy (Emirate)             NaN  ...           NaN
Constitutional Monarchy, Federation     79.400000  ...  3.053000e+04
Emirate Federation                            NaN  ...           NaN
Federal Republic                        74.300000  ...  3.533940e+06
Federation                                    NaN  ...  4.129600e+04
Islamic Emirate                               NaN  ...           NaN
Islamic Republic                              NaN  ...           NaN
Monarchy                                      NaN  ...           NaN
Monarchy (Emirate)                            NaN  ...           NaN
Monarchy (Sultanate)                          NaN  ...           NaN
Parlementary Monarchy                         NaN  ...           NaN
Parliamentary Coprincipality                  NaN  ...  4.800000e+02
People'sRepublic                              NaN  ...           NaN
Republic                                68.960000  ...  1.513963e+05
Socialistic Republic                    76.200000  ...           NaN
Socialistic State                             NaN  ...           NaN

                                                                               \
continent                           North America       Oceania South America
governmentForm
Constitutional Monarchy              5.573222e+03  1.905860e+05           NaN
Constitutional Monarchy (Emirate)             NaN           NaN           NaN
Constitutional Monarchy, Federation  9.970622e+06  7.741232e+06           NaN
Emirate Federation                            NaN           NaN           NaN
Federal Republic                     5.660872e+06  7.140000e+02  4.079963e+06
Federation                                    NaN           NaN           NaN
Islamic Emirate                               NaN           NaN           NaN
Islamic Republic                              NaN           NaN           NaN
Monarchy                                      NaN  6.620000e+02           NaN
Monarchy (Emirate)                            NaN           NaN           NaN
Monarchy (Sultanate)                          NaN           NaN           NaN
Parlementary Monarchy                         NaN  2.843000e+03           NaN
Parliamentary Coprincipality                  NaN           NaN           NaN
People'sRepublic                              NaN           NaN           NaN
Republic                             5.808970e+04  5.320333e+03  6.136676e+05
Socialistic Republic                 1.108730e+05           NaN           NaN
Socialistic State                             NaN           NaN           NaN

                                       indepYear                            \
continent                                 Africa         Asia       Europe
governmentForm
Constitutional Monarchy              1961.000000  1271.600000  1468.222222
Constitutional Monarchy (Emirate)            NaN  1961.000000          NaN
Constitutional Monarchy, Federation          NaN  1957.000000  1830.000000
Emirate Federation                           NaN  1971.000000          NaN
Federal Republic                     1960.000000  1969.000000  1954.800000
Federation                                   NaN          NaN  1499.000000
Islamic Emirate                              NaN  1919.000000          NaN
Islamic Republic                     1956.000000  1906.000000          NaN
Monarchy                             1968.000000  1937.666667          NaN
Monarchy (Emirate)                           NaN  1971.000000          NaN
Monarchy (Sultanate)                         NaN  1967.500000          NaN
Parlementary Monarchy                        NaN          NaN          NaN
Parliamentary Coprincipality                 NaN          NaN  1278.000000
People'sRepublic                             NaN -1523.000000          NaN
Republic                             1896.586957  1957.769231  1869.250000
Socialistic Republic                         NaN  1946.500000          NaN
Socialistic State                    1951.000000          NaN          NaN


continent                           North America      Oceania South America
governmentForm
Constitutional Monarchy               1975.333333  1959.500000           NaN
Constitutional Monarchy (Emirate)             NaN          NaN           NaN
Constitutional Monarchy, Federation   1867.000000  1901.000000           NaN
Emirate Federation                            NaN          NaN           NaN
Federal Republic                      1793.000000  1990.000000   1816.333333
Federation                                    NaN          NaN           NaN
Islamic Emirate                               NaN          NaN           NaN
Islamic Republic                              NaN          NaN           NaN
Monarchy                                      NaN  1970.000000           NaN
Monarchy (Emirate)                            NaN          NaN           NaN
Monarchy (Sultanate)                          NaN          NaN           NaN
Parlementary Monarchy                         NaN  1962.000000           NaN
Parliamentary Coprincipality                  NaN          NaN           NaN
People'sRepublic                              NaN          NaN           NaN
Republic                              1865.000000  1980.166667   1852.000000
Socialistic Republic                  1902.000000          NaN           NaN
Socialistic State                             NaN          NaN           NaN

[17 rows x 30 columns]

In [36]:
countries3.groupby("continent").size()

continent
Africa           53
Asia             47
Europe           41
North America    23
Oceania          14
South America    12
dtype: int64